[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "deeptime"]
	path = deeptime
	url = https://github.com/willgearty/deeptime
[submodule "rmacrostrat"]
	path = rmacrostrat
	url = https://github.com/palaeoverse/rmacrostrat
	registered = false
